@import url('https://fonts. googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}


/* variable*/
:root {

    /* color */
    --primary: #7857FE;
    --danger: #E91E63;
    --warning: #F5AE10;
    --success: #09D69C;
    --light: #FFFFFF;
    --gray: #868686;
    --light-gray: #EDEDED;
    --dark: #000000;
    /* font */
    --lato: 'lato'sans-serif;
    --roboto: 'roboto'sans-serif;
}

body {
    font-family: var(--lato);

}

h1,
h2,

h4 {
    font-family: var(--lato);
}

h3 {
    font-family: sans-serif;
    font-size: 3rem;
}

h2 {
    font-size: 5rem;
    font-weight: 900;
}

p {
    font-size: 1.6rem;
    color: #6b6a6a;
}

a {
    text-decoration: none;
    color: var(--dark);
}

img {
    width: 100%;
    height: 100%;
}

#header {
    background: var(--primary);
    width: 100%;
    height: 95vh;
    border-radius: 0 0 20rem 0;
}

/*header navbar strate */

.navbar__bg {
    background: var(--primary) !important;
    padding: 0;
    display: fixed;
}

.navbar__logo {
    font-size: 4rem;
    color: var(--light);
    font-weight: 600;
}

.nav-item {
    height: 100%;
    min-height: 8rem;
    line-height: 8rem;
}

.nav-link {
    font-size: 2rem;
    font-weight: 400;
    color: var(--light) !important;
    margin-left: 2rem;
    position: relative;
    // padding: 3rem 0rem;
}

.nav-link::after {
    content: "";
    width: 100%;
    height: .3rem;
    border-radius: 3rem;
    background: var(--light);
    position: absolute;
    bottom: 2rem;
    left: 0;
    transform: scale(0);
}

.nav-item:hover .dropdown__menu {
    opacity: 1;
    visibility: visible;
    top: 9rem;
    transition: 1s;
}

.nav-link:hover .fa-angle-double-down {
    transform: rotate(360deg);
    transition: .7s;
}

.navbar__toggler__icon {
    padding: .5rem !important;
    width: 4rem !important;
    transform: rotate(180deg);
    display: block;
}

.nav-link:hover::after {
    transform: scale(1);
    transition: .5s;
}

.fa-angle-double-down {
    transform: rotate(180deg);
    position: relative;
}

.dropdown__toggler {
    height: auto;
    position: relative;
}

.dropdown__menu {
    position: absolute;
    top: 11rem;
    left: -7rem;
    flex-direction: column !important;
    width: 30rem;
    background: var(--light);
    border-radius: .5rem;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}

.dropdown__menu .nav-link {
    margin-left: 0rem !important;
    color: var(--dark) !important;
}

.dropdown__menu .nav-link::after {
    display: none;
}

.dropdown__menu .nav-link:hover {
    transition: .5s;
    transform: scale(1.1);
}

/* header navbar end */
/*animation icon strate*/
.animation__icon {
    font-size: 2.5rem;
    position: absolute;
    animation: iconRotate 4s linear infinite;
}

.animation__icon__1 {
    color: var(--warning);
    top: 15rem;
    left: 50rem;
}

.animation__icon__2 {
    color: #e9e9e952;
    top: 10rem;
    right: 15rem;
}

.animation__icon__3 {
    color: var(--success);
    top: 70rem;
    left: 30rem;
}

/*animation icon end*/

/*header app section strate*/

.app__intro h1 {
    font-size: 5rem;
    font-family: sans-serif;
    font-weight: 700;
    color: var(--light);
}

.app__intro p {
    color: var(--light);
    font-size: 2rem;
}

.hero__button {
    font-size: 2rem;
    color: var(--primary);
    width: 15rem;
    height: 5rem;
    background: var(--light-gray);
    border-radius: 4rem;
    box-shadow: 0rem 0rem 2rem .1rem var(--light);
    margin-left: 2rem;
    margin-top: 5rem;
}

.hero__button:hover {
    background: var(--primary);
    color: var(--light);
}

.play__btn {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    animation: typePlay 1s linear infinite;
}

.play__btn:hover {
    animation: none;
}

.app__img {
    width: 30rem;
    height: 60rem;
    margin: 10rem auto;
    position: relative;

}

.bg__circle {
    width: 50rem;
    height: 50rem;
    position: absolute;
    top: 5rem;
    left: -10rem;
    border: #ffffff86 .1rem solid;
    border-radius: 50%;

}

.bg__circle::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 9rem;
    height: 9rem;
    background-color: var(--light);
    border-radius: 50%;
    top: 4.6rem;
    left: 1rem;
    opacity: .8;
    transform-origin: 23.2rem 20.4rem;
    animation: roundCircle 20s linear infinite;
}

/*header app section end*/

/*features strate */
.features {
    background: var(--light);
    padding-top: 8rem;

    h2 {
        color: var(--dark);
        margin-bottom: 8rem;

        span {
            color: var(--primary);
        }
    }

    .owl-theme {
        cursor: pointer !important;
    }
}

.features__box {
    width: 40rem;
    background: var(--light);
    padding: 1.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem .5rem var(--light-gray);
    margin: 1rem;

    .features__box__icon {
        color: var(--primary);
        font-size: 3.5rem;
        font-weight: 900;
    }

    h3 {

        margin: 3rem;

    }

    p {
        font-size: 1.8rem;
        font-weight: 400;
        color: var(--text-block)
    }
}

.owl-theme .owl-dots .owl-dot.active span {
    background: var(--primary);
    width: 4rem;

}

.owl-theme .owl-dots .owl-dot span {
    transition: .5s;
}

.owl-theme .owl-dots .owl-dot:hover span {
    background: #7857fe88;
}

/*facts section */
.fact {
    .container {
        margin-top: 20rem;
    }
}

.facts__img {
    width: 32rem;
    margin: 0 auto;
}

.fact__details {
    h2 {
        span {
            color: var(--primary);
        }
    }

    p {
        font-size: 1.8rem;
    }
}

.number__menu {
    font-family: sans-serif;
    text-align: center;
    padding: 5rem 0rem;
    margin-top: 2.5rem;
    border-radius: 1rem;

    h2 {
        display: block;
        color: var(--light);
    }

    p {
        font-size: 2rem !important;
        color: var(--light);
        text-transform: uppercase;
    }
}

.screenshots {
    text-align: center;
    padding-top: 5rem;

    h2 {
        margin-bottom: 7rem;

        span {
            color: var(--primary);
        }
    }
}

.download__app {
    text-align: center;
    margin-top: 8rem;

    background: url('../img/download-app-bg.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background: cover;
    .opacity__bg {
        padding-top: 10rem;
        background: #7857fe94;
        padding: 8rem 0rem;

        h2 {
            color: #fff;
            margin-bottom: 6rem;

            span {
                color: #643efd;
            }
        }

        .card {
            display: flex !important;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background: none;

            .features__box {
                box-shadow: none;
                padding-top: 2rem;
                width: auto;

                .card__button {
                    font-size: 2rem;
                    color: var(--light);
                    padding: 1rem 2.5rem;
                    background: var(--primary);
                    border-radius: 4rem;
                    box-shadow: 0rem 0rem 2rem .1rem var(--light);
                }
            }
        }
    }
}

.works {
    text-align: center;
    padding: 10rem 0rem;

    .row {
        position: relative;

        .point__section {
            background: none;

            .features__box {
                margin: 0 auto;
                width: auto;

                .hr__left {
                    width: 6rem;
                    height: 6rem;
                    display: inline-block;
                    font-size: 3rem;
                    background: var(--primary);
                    border-radius: 50%;
                    text-align: center;
                    line-height: 6rem;
                    color: var(--light);
                    font-weight: 700;
                    margin-bottom: 3rem;

                }
            }
        }
    }
}

.hr::after {
    content: '';
    width: 23%;
    height: .5rem;
    background: var(--primary);
    display: inline-block;
    position: absolute;
    top: 4rem;
}

/*----------- client ---------*/
.client {
    text-align: center;
    padding: 5rem 0;

    .features__box {
        width: auto;
        margin: 5rem;

        .features__box__img {
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
            background: var(--primary);
            padding: .5rem;
            margin: 0 auto;
            position: relative;
            margin-bottom: 2rem;

            img {
                border-radius: 100%;
            }

            i {
                color: var(--light);
                background: var(--primary);
                width: 3rem;
                height: 3rem;
                text-align: center;
                line-height: 3rem;
                border-radius: 50%;
                font-size: 1.5rem;
                font-weight: 700;
                display: inline-block;
                position: absolute;
                top: 50%;
                right: -10%;
                transform: translateY(-50%);
            }
        }

        h4 {
            font-size: 2rem;
        }

        .smp {
            font-size: 1.6rem;
            color: #6b6a6a;
        }

        .star {
            .fa-star {
                color: var(--warning) !important;
            }
        }
    }
}

/*pricing section*/
.pricing {
    h2 {
        text-align: center;
        margin-bottom: 10rem;
    }

    .price__system {
        font-size: 3.5rem;
        font-family: sans-serif;
        font-weight: 700;
        margin: 2rem 0rem;
    }

    .pricingHeader {
        font-family: sans-serif;
        margin: 4rem;

        .pricingHeader__douler {
            font-size: 2rem;
            color: var(--gray);
            font-weight: 700;
            margin-top: -3.5rem;
        }

        .pricingHeader__price {
            font-size: 7rem;
            font-weight: 900;
            color: var(--primary);
        }

        .pricingHeader__month {
            font-size: 2rem;
            color: var(--gray);
            margin-bottom: -5rem;
        }
    }

    .pricing__plan {
        .list-group-item {
            font-size: 1.8rem;
            text-transform: capitalize;
        }

        .fa-check {
            font-size: 2rem;
            color: var(--primary);
            padding: 0rem 2rem;
        }
    }

    .btn {
        margin: 3rem auto;
        font-size: 2rem;
        color: var(--light);
        padding: 1rem 2.5rem;
        background: var(--primary);
        border-radius: 4rem;
        -webkit-box-shadow: 0rem 0rem 2rem 0.1rem var(--light);
        box-shadow: 0rem 0rem 2rem 0.1rem var(--light);
    }
}

.member__section {
    padding: 10rem 0rem;

    .card {
        .features__box__img {
            padding: 2rem;
        }
    }

}
/*FAQ*/  
.faq{
    padding: 5rem 0rem;
}
.accordion-button:not(.collapsed){
    color: var(--light-gray);
    background: var(--primary);
}
.accordion-button:not(.collapsed)::after{
    background: url('../css/bootstrapp/Untitled-light-1.svg') ;
}.accordion-button::after{
    background: url('../css/bootstrapp/Untitled-black-2.svg');
}
.accordion-button{
    font-size: 2rem;
    font-family: sans-serif;
    padding: 2rem;
}
.accordion-body p{
    font-size: 1.8rem;
}
/*-------------*/
/*get in touch */
/*-------------*/
.touch {
    padding: 10rem 0rem;
    h2{
        margin: 5rem 0rem;
    }
    .contact {
        display: flex;
        align-items: center;

        .contact__icon {
            padding: 2rem 0rem;

            span {
                display: inline-block;
                width: 6rem;
                height: 6rem;
                border: .3rem solid var(--primary);
                border-radius: 50%;
                text-align: center;
                font-size: 2.5rem;
                line-height: 6rem;
                color: var(--primary);
            }
        }
        .contact__menu{
            padding: 0rem 2rem;
        }
    }
}
.form-control{
    font-size: 2rem;
    margin: 1rem 0rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}