/* play button animation  */
@keyframes typePlay{
    0% {
        box-shadow: 0 0 1.7rem -.3rem #FFFFFF;
        transform: scale(.98);
    }
    50% {
        box-shadow: 0 0 1.7rem 2rem #ffffff00;
        transform: scale(1.2);
    }
    100% {
        box-shadow: 0 0 1.7rem 2rem #ffffff00;
        transform: scale(.98);
    }
}
/* hero Icon animation */
@keyframes iconRotate{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}

/* rounded circle */
@keyframes roundCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}